.header {
  /*  왼쪽 공간 15px 오른쪽 공간 15px */
  width: calc(100% - 30px);
  max-width: 1170px;
  height: 100px;
  background-color: #85ff00;
  margin: 0px auto;
}
.header-logo {
}
.header-logo-link {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: yellow;
}
.header-logo-img {
  width: 88px;
  height: 22px;
  margin-right: 5px;
}
.header-logo-slide {
}
.header-logo-slide img {
  width: 68px;
  height: 31px;
}
/* 반응형 */
@media all and (max-width: 1024px) {
  .header {
    background-color: orange;
    height: 80px;
  }
}
